.carousel {
  overflow-x: hidden;
  position: relative;
  z-index: -5;

  .slides-container {
    position: relative;
    transition: 1s ease all;
    .slide {
      float: left;
      img {
        width: 100%;
      }
    }
  }
}
