.carousel {
  overflow-x: hidden;
  position: relative;
  z-index: -5;

  .slides-container {
    position: relative;
    transition: 1s ease all;
    .slide {
      float: left;
      img {
        height: 400px;
        width: auto;

        @media(min-width: $screen-lg) {
          height: auto;
          width: 100%;
        }
      }
    }
  }
}
