.carousel {
  overflow-x: hidden;
  position: relative;
  z-index: -5;

  .slides-container {
    position: relative;
    transition: 1s ease all;
    .slide {
      background-repeat: no-repeat;
      background-size: auto;
      float: left;
      height: 350px;

      @media(min-width: $screen-md) {
        height: 550px;
      }

      @media(min-width: $screen-lg) {
        height: 750px;
      }
    }
  }
}
