<div id="navbar-view">
  <nav>
    <div id="logo-container">
    </div>
    <ul id="menu">
      <li class="menu-item">
        <a>Home</a>
      </li>
      <li class="menu-item">
        <a>Blog</a>
      </li>
      <li class="menu-item">
        <a>Out company</a>
      </li>
      <li class="menu-item">
        <a>Services</a>
      </li>
      <li class="menu-item">
        <a>Contact</a>
      </li>
    </ul>
    <div id="menu-toggle-container">
      <i class="fa fa-bars"></i>
    </div>
  </nav>
</div>
