<div id="footer">
  <div class="footer-seperator-container">
    <div class="footer-seperator"></div>
  </div>
  <div class="footer-content-container">
    <div class="contact-us-banner">
      <div class="row">
        <div class="col-sm-8">
          <p>Learn more about us</p>
        </div>
        <div class="col-sm-4 contact-button-container">
          <button>Contact us</button>
        </div>
      </div>
    </div>
    <div class="row footer-sections-container">
      <div class="col-md-3 footer-section">
        <p class="header">Meta</p>
        <ul>
          <li><i class="fa fa-caret-right"></i>Log in</li>
          <li><i class="fa fa-caret-right"></i>Entries RSS</li>
          <li><i class="fa fa-caret-right"></i>Comments RSS</li>
          <li><i class="fa fa-caret-right"></i>WordPress.org</li>
        </ul>
      </div>
      <div class="col-md-3 footer-section">
        <p class="header">Pages</p>
        <ul>
          <li><i class="fa fa-caret-right"></i>Home</li>
          <li><i class="fa fa-caret-right"></i>Blog</li>
          <li><i class="fa fa-caret-right"></i>Sample Page</li>
        </ul>
      </div>
      <div class="col-md-3 footer-section">
        <p class="header">Out portfolio</p>
        <div class="footer-image-gallery">
          <div class="gallery-image">
            <img src="/assets/img/03_projects_01.jpg">
          </div>
          <div class="gallery-image">
            <img src="/assets/img/03_projects_02.jpg">
          </div>
          <div class="gallery-image">
            <img src="/assets/img/03_projects_03.jpg">
          </div>
          <div class="gallery-image">
            <img src="/assets/img/03_projects_04.jpg">
          </div>
          <div class="gallery-image">
            <img src="/assets/img/03_projects_05.jpg">
          </div>
          <div class="gallery-image">
            <img src="/assets/img/03_projects_06.jpg">
          </div>
        </div>
      </div>
      <div class="col-md-3 footer-section">
        <p class="header">Categories</p>
        <div class="categories-container">
          <span>Lifestyle(1)</span>
          <span>Technology(1)</span>
          <span>Urban Festivals</span>
        </div>
      </div>
    </div>
  </div>
</div>
