<div id="blog-post-view">
  <div class="main-image-container">
    <img src="/assets/img/00_header_01.jpg">
  </div>
  <div class="row">
    <div class="col-sm-12">
      <div class="jumbo-text">
        <p>Just another Macho Theme Demos site</p>
      </div>
    </div>
  </div>
  <div class="row blog-content-container">
    <div class="col-lg-8">
      <div class="post">
        <div class="post-content">
          <div class="image-container">
            <img src="/assets/img/08_blog_item_02.jpg">
          </div>
          <div class="text-container">
            <p class="header">What's next?</p>
            <p class="text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer malesuada malesuada tortor, at porta nisl ultricies vitae. Duis purus metus, tempor et ante sed, rutrum sollicitudin ligula.</p>
            <span class="post-meta"><p class="post-date">December 12, 2017</p> <p class="post-user">by <strong>Admin</strong></p></span>
          </div>
        </div>
        <div class="post-author">
          <div class="row">
            <div class="col-lg-2 user-portrait-container">
              <div class="user-portrait"></div>
            </div>
            <div class="col-lg-10">
              <p class="user-name"><strong>Admin</strong></p>
              <p class="user-description">This is an author bio. You can easily change this from the Users panel.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-4">
      <app-meta-sidebar></app-meta-sidebar>
    </div>
  </div>
</div>
