<div id="blog-list-view">
  <div class="main-image-container">
    <img src="/assets/img/00_header_01.jpg">
  </div>
  <div class="row">
    <div class="col-sm-12">
      <div class="jumbo-text">
        <p>Just another Macho Theme Demos site</p>
      </div>
    </div>
  </div>
  <div class="row blog-content-container">
    <div class="col-lg-8 posts-container">
      <div class="post">
        <div class="text-container">
          <p class="post-header">Spend more time doing what you love</p>
          <p class="post-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer malesuada malesuada tortor, at porta nisl ultricies vitae. Duis purus metus, tempor et ante sed, rutrum sollicitudin ligula.</p>
          <span class="post-meta"><p class="post-date">December 12, 2017</p> <p class="post-user">by <strong>Admin</strong></p></span>
        </div>
        <div class="image-container">
          <img src="/assets/img/08_blog_item_01.jpg">
        </div>
      </div>
      <div class="post">
        <div class="text-container">
          <p class="post-header">What’s next?</p>
          <p class="post-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer malesuada malesuada tortor, at porta nisl ultricies vitae. Duis purus metus, tempor et ante sed, rutrum sollicitudin ligula.</p>
          <span class="post-meta"><p class="post-date">December 12, 2017</p> <p class="post-user">by <strong>Admin</strong></p></span>
        </div>
        <div class="image-container">
          <img src="/assets/img/08_blog_item_02.jpg">
        </div>
      </div>
      <div class="post">
        <div class="text-container">
          <p class="post-header">Grow your business right now!</p>
          <p class="post-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer malesuada malesuada tortor, at porta nisl ultricies vitae. Duis purus metus, tempor et ante sed, rutrum sollicitudin ligula.</p>
          <span class="post-meta"><p class="post-date">December 12, 2017</p> <p class="post-user">by <strong>Admin</strong></p></span>
        </div>
        <div class="image-container">
          <img src="/assets/img/08_blog_item_03.jpg">
        </div>
      </div>
    </div>
    <div class="col-lg-4 meta-container">
      <div class="search-container">
        <div class="row">
          <div class="col-lg-12">
            <input class="search-input" type="text" placeholder="search...">
          </div>
        </div>
        <div class="row">
          <div class="col-lg-12">
            <button class="search-button">Search</button>
          </div>
        </div>
      </div>
      <div class="recent-posts-container">
        <p class="meta-header">Recent Posts</p>
        <div class="recent-post">
          <p>What's next</p>
        </div>
        <div class="recent-post">
          <p>Grow your business right now!</p>
        </div>
        <div class="recent-post">
          <p>Spend more time doing what you love</p>
        </div>
      </div>
      <div class="recent-comments-container">
        <p class="meta-header">Recent Comments</p>
      </div>
      <div class="archives-container">
        <p class="meta-header">Archives</p>
      </div>
      <div class="categories-container">
        <p class="meta-header">Recent Comments</p>
        <div class="category">
          <p>Lifecycle</p>
          <p>Technology</p>
          <p>Urban festivals</p>
        </div>
      </div>
    </div>
  </div>
</div>
