<div id="home-services">
  <div class="section-container services-section">
    <div class="section-content">
      <div class="row">
        <div class="col-sm-4 left-content">
          <p class="services-header">Services</p>
          <p class="services-text">We offer:</p>
        </div>
        <div class="col-sm-8 right-content">
          <div class="services">
            <div class="row">
              <div class="col-sm-4 service">
                <i class="fa fa-briefcase fa-2x fa-fw"></i>
                <p class="service-title">Business</p>
                <p class="service-text">Consultancy</p>
              </div>
              <div class="col-sm-4 service">
                <i class="fa fa-archive fa-2x fa-fw"></i>
                <p class="service-title">Competition</p>
                <p class="service-text">Analysis</p>
              </div>
              <div class="col-sm-4 service">
                <i class="fa fa-cogs fa-2x fa-fw"></i>
                <p class="service-title">Development</p>
                <p class="service-text">Plan</p>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-4 service">
                <i class="fa fa-cube fa-2x fa-fw"></i>
                <p class="service-title">General Fonds</p>
                <p class="service-text">Expertise</p>
              </div>
              <div class="col-sm-4 service">
                <i class="fa fa-users fa-2x fa-fw"></i>
                <p class="service-title">Specialised</p>
                <p class="service-text">Recruitment</p>
              </div>
              <div class="col-sm-4 service">
                <i class="fa fa-lock fa-2x fa-fw"></i>
                <p class="service-title">Personalised</p>
                <p class="service-text">Security</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
