#home-about {
  .about-image-container {
    text-align: right;
    img {
      height: 250px;

      @media(min-width: $screen-lg) {
        margin-right: 20px;
      }
    }
  }

  .about-text-container {
    h2 {
      font-weight: 300;
      color: #333;
      @media (min-width: $screen-lg) {
        font-size: 2em;
      }
    }

    p {
      color: #777;
      max-width: 600px;
    }

    span {
      color: $primary-blue;
      a {
        color: $primary-blue;
      }
    }
  }
}
