<div id="home-about">
  <div class="section-container">
    <div class="row">
      <div class="col-sm-5 about-image-container">
        <img src="/assets/img/01_about.png">
      </div>
      <div class="col-sm-7 about-text-container">
        <h2>Learn more about us and how can we help you:</h2>
        <br>
        <p>Maecenas nec maximus magna. Nullam nec metus ullamcorper, scelerisque nulla vel, fermentum ligula. Cum sociis natoque penatibus et magnis dis parturient montes, nasceturridiculus mus. In dictum ut nunc vitae ultricies</p>
        <br>
        <p>Sed pharetra tellus arcu, ac fringilla diam porttitor at. Phasellus ligula nisl, ultricies in eleifendid, accumsan vitae nis subim at ullas doc victus et renit amulusl.</p>
        <br>
        <span><a>Get a quote </a><i class="fa fa-angle-right"></i></span>
      </div>
    </div>
  </div>
</div>
