@import './variables/main';
@import './elements/main';
@import './layout/main';

@import '../app/components/navbar/view/navbar-view.component';
@import '../app/components/navbar/menu/navbar-menu.component';
@import '../app/components/home/view/home-view.component';
@import '../app/components/home/about/home-about.component';
@import '../app/components/home/services/home-services.component';
@import '../app/components/home/portfolio/home-portfolio.component';
@import '../app/components/carousel/carousel.component';

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
