<div id="home-team">
  <div class="section-container">
    <p class="section-header">Team</p>
    <p class="section-text">Meet the people behind the scene</p>
    <div class="team-members-container">
      <div class="row">
        <div class="col-sm-6 team-member">
          <div class="image-container">
            <img src="/assets/img/07_team_01.jpg">
          </div>
          <div class="text-container">
            <p class="team-member-name">Amelia Couchin Delgado</p>
            <p class="team-member-text">Donec felis neque, sagittis vel euismod eget, pellentesque ut mi. Ut auctor sed mi ac blandit.</p>
            <div class="social-container">
              <i class="fab fa-facebook-f"></i>
              <i class="fab fa-twitter"></i>
              <i class="fab fa-dribbble"></i>
              <i class="fab fa-linkedin"></i>
            </div>
          </div>
        </div>
        <div class="col-sm-6 team-member">
          <div class="image-container">
            <img src="/assets/img/07_team_02.jpg">
          </div>
          <div class="text-container">
            <p class="team-member-name">James Austin</p>
            <p class="team-member-text">Donec felis neque, sagittis vel euismod eget, pellentesque ut mi. Ut auctor sed mi ac blandit.</p>
            <div class="social-container">
              <i class="fab fa-facebook-f"></i>
              <i class="fab fa-twitter"></i>
              <i class="fab fa-dribbble"></i>
              <i class="fab fa-linkedin"></i>
            </div>
          </div>
        </div>
        <div class="col-sm-6 team-member reversed">
          <div class="image-container">
            <img src="/assets/img/07_team_03.jpg">
          </div>
          <div class="text-container">
            <p class="team-member-name">Marisol Schwartzeneger</p>
            <p class="team-member-text">Duis ut consequat lorem, quis pellentesque metus. Cras porttitor ex at tempor vulputate.</p>
            <div class="social-container">
              <i class="fab fa-facebook-f"></i>
              <i class="fab fa-twitter"></i>
              <i class="fab fa-dribbble"></i>
              <i class="fab fa-linkedin"></i>
            </div>
          </div>
        </div>
        <div class="col-sm-6 team-member reversed">
          <div class="image-container">
            <img src="/assets/img/07_team_04.jpg">
          </div>
          <div class="text-container">
            <p class="team-member-name">Bobby Toder</p>
            <p class="team-member-text">Donec felis neque, sagittis vel euismod eget, pellentesque ut mi. Ut auctor sed mi ac blandit.</p>
            <div class="social-container">
              <i class="fab fa-facebook-f"></i>
              <i class="fab fa-twitter"></i>
              <i class="fab fa-dribbble"></i>
              <i class="fab fa-linkedin"></i>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
