<div id="home-expertise">
  <div class="section-container">
    <div class="section-content">
      <div class="row">
        <div class="col-lg-7">
          <p class="section-header">Our expertise</p>
          <p class="section-text">We can take your business to the next level</p>

          <div class="row">
            <div class="col-sm-12">
              <p class="expertise-header">We can improove your business!</p>
              <p class="expertise-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer malesuada malesuada tortor, at porta nisl ultricies vitae. Duis purus metus, tempor et ante sed, rutrum sollicitudin ligula.</p>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-12">
              <p class="expertise-header">Let us help you save money!</p>
              <p class="expertise-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer malesuada malesuada tortor, at porta nisl ultricies vitae. Duis purus metus, tempor et ante sed, rutrum sollicitudin ligula.</p>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-12">
              <p class="expertise-header">Spend more time doing what you love.</p>
              <p class="expertise-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer malesuada malesuada tortor, at porta nisl ultricies vitae. Duis purus metus, tempor et ante sed, rutrum sollicitudin ligula.</p>
            </div>
          </div>
        </div>
        <div class="col-lg-5">
          <div class="image-container">
            <img src="/assets/img/expertise-img-01.png">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
