<div id="navbar-menu" (window:resize)="onWindowResize()">
  <nav>
    <div id="logo-container">
    </div>
    <ul id="menu" [ngStyle]="menuStyle()">
      <li class="menu-item" routerLink="/">
        <a>Home</a>
      </li>
      <li class="menu-item" routerLink="/blog">
        <a>Blog</a>
      </li>
      <li class="menu-item" (click)="goTo('home-about')">
        <a>Our company</a>
      </li>
      <li class="menu-item" (click)="goTo('home-services')">
        <a>Services</a>
      </li>
      <li class="menu-item" (click)="goTo('footer')">
        <a>Contact</a>
      </li>
    </ul>
    <div id="menu-toggle-container">
      <i class="fa fa-bars" (click)="toggleMenuVisible()"></i>
    </div>
  </nav>
</div>
