<div id="home-portfolio">
  <div class="section-container">
    <div class="row">
      <div class="col-sm-12">
        <p class="section-header">Portfolio</p>
        <p class="section-text">Check out our latest projects</p>
      </div>
    </div>
  </div>
  <div class="portfolio-items">
    <div class="row portfolio-row">
      <div class="col-md-3 portfolio-item">
        <div class="overlay-container">
          <div class="text-container">
            <p class="portfolio-header">Images</p>
            <p class="portfolio-text">Nullam nec metus ullamcorper, scelerisque null</p>
          </div>
          <div class="links-container">
            <div class="search">
              <i class="fa fa-search"></i>
            </div>
            <div class="link">
              <i class="fa fa-link"></i>
            </div>
          </div>
        </div>
        <img src="/assets/img/03_projects_01.jpg">
      </div>
      <div class="col-md-3 portfolio-item">
        <div class="overlay-container">
          <div class="text-container">
            <p class="portfolio-header">Videos</p>
            <p class="portfolio-text">Nullam nec metus ullamcorper, scelerisque null</p>
          </div>
          <div class="links-container">
            <div class="search">
              <i class="fa fa-search"></i>
            </div>
            <div class="link">
              <i class="fa fa-link"></i>
            </div>
          </div>
        </div>
        <img src="/assets/img/03_projects_02.jpg">
      </div>
      <div class="col-md-3 portfolio-item">
        <div class="overlay-container">
          <div class="text-container">
            <p class="portfolio-header">Audio</p>
            <p class="portfolio-text">Nullam nec metus ullamcorper, scelerisque null</p>
          </div>
          <div class="links-container">
            <div class="search">
              <i class="fa fa-search"></i>
            </div>
            <div class="link">
              <i class="fa fa-link"></i>
            </div>
          </div>
        </div>
        <img src="/assets/img/03_projects_03.jpg">
      </div>
      <div class="col-md-3 portfolio-item">
        <div class="overlay-container">
          <div class="text-container">
            <p class="portfolio-header">Cinematography</p>
            <p class="portfolio-text">Nullam nec metus ullamcorper, scelerisque null</p>
          </div>
          <div class="links-container">
            <div class="search">
              <i class="fa fa-search"></i>
            </div>
            <div class="link">
              <i class="fa fa-link"></i>
            </div>
          </div>
        </div>
        <img src="/assets/img/03_projects_04.jpg">
      </div>
    </div>
    <div class="row portfolio-row">
      <div class="col-sm-3 portfolio-item">
        <div class="overlay-container">
          <div class="text-container">
            <p class="portfolio-header">Photography</p>
            <p class="portfolio-text">Nullam nec metus ullamcorper, scelerisque null</p>
          </div>
          <div class="links-container">
            <div class="search">
              <i class="fa fa-search"></i>
            </div>
            <div class="link">
              <i class="fa fa-link"></i>
            </div>
          </div>
        </div>
        <img src="/assets/img/03_projects_05.jpg">
      </div>
      <div class="col-sm-3 portfolio-item">
        <div class="overlay-container">
          <div class="text-container">
            <p class="portfolio-header">Discography</p>
            <p class="portfolio-text">Nullam nec metus ullamcorper, scelerisque null</p>
          </div>
          <div class="links-container">
            <div class="search">
              <i class="fa fa-search"></i>
            </div>
            <div class="link">
              <i class="fa fa-link"></i>
            </div>
          </div>
        </div>
        <img src="/assets/img/03_projects_06.jpg">
      </div>
      <div class="col-sm-3 portfolio-item">
        <div class="overlay-container">
          <div class="text-container">
            <p class="portfolio-header">Writing</p>
            <p class="portfolio-text">Nullam nec metus ullamcorper, scelerisque null</p>
          </div>
          <div class="links-container">
            <div class="search">
              <i class="fa fa-search"></i>
            </div>
            <div class="link">
              <i class="fa fa-link"></i>
            </div>
          </div>
        </div>
        <img src="/assets/img/03_projects_07.jpg">
      </div>
      <div class="col-sm-3 portfolio-item">
        <div class="overlay-container">
          <div class="text-container">
            <p class="portfolio-header">Coding</p>
            <p class="portfolio-text">Nullam nec metus ullamcorper, scelerisque null</p>
          </div>
          <div class="links-container">
            <div class="search">
              <i class="fa fa-search"></i>
            </div>
            <div class="link">
              <i class="fa fa-link"></i>
            </div>
          </div>
        </div>
        <img src="/assets/img/03_projects_08.jpg">
      </div>
    </div>
  </div>
</div>
