<div id="home-testimonials">
  <div class="section-container">
    <div class="row">
      <div class="col-sm-12">
        <p class="section-header">Portfolio</p>
        <p class="section-text">Check out our latest projects</p>
      </div>
    </div>
    <div class="testimonials">
      <div class="row testimonials-row">
        <div class="col-lg-6 testimonial testimonial-left">
          <img src="/assets/img/04_testimonials_01.png">
          <div class="text-container">
            <i class="fa fa-quote-left fa-2x"></i>
            <p class="testimonial-name">Michael Cross</p>
            <p>"Maecenas nec maximus magna. Nullam nec metus ullamcorper, scelerisque nulla vel, amus at fermentum ligula Maecenas nec maximus magna. Nullam nec metus ullamcorper, scelerisque nulla vel, amus at fermentum ligula"</p>
            <p>CEO @ Hampybrewry</p>
          </div>
        </div>
        <div class="col-lg-6 testimonial testimonial-right">
          <img src="/assets/img/04_testimonials_02.png">
          <div class="text-container">
            <i class="fa fa-quote-right fa-2x"></i>
            <p class="testimonial-name">Daniel Murphy</p>
            <p>"Maecenas nec maximus magna. Nullam nec metus ullamcorper, scelerisque nulla vel, amus at fermentum ligula Maecenas nec maximus magna. Nullam nec metus ullamcorper, scelerisque nulla vel, amus at fermentum ligula"</p>
            <p>CEO @ Hampybrewry</p>
          </div>
        </div>
      </div>
      <div class="row testimonials-row">
        <div class="col-lg-6 testimonial testimonial-left">
          <img src="/assets/img/04_testimonials_03.png">
          <div class="text-container">
            <i class="fa fa-quote-left fa-2x"></i>
            <p class="testimonial-name">James Smith</p>
            <p>"Maecenas nec maximus magna. Nullam nec metus ullamcorper, scelerisque nulla vel, amus at fermentum ligula Maecenas nec maximus magna. Nullam nec metus ullamcorper, scelerisque nulla vel, amus at fermentum ligula"</p>
            <p>Product Manager @ Vista</p>
          </div>
        </div>
        <div class="col-lg-6 testimonial testimonial-right">
          <img src="/assets/img/04_testimonials_04.png">
          <div class="text-container">
            <i class="fa fa-quote-right fa-2x"></i>
            <p class="testimonial-name">Jessica Stole</p>
            <p>"Maecenas nec maximus magna. Nullam nec metus ullamcorper, scelerisque nulla vel, amus at fermentum ligula Maecenas nec maximus magna. Nullam nec metus ullamcorper, scelerisque nulla vel, amus at fermentum ligula"</p>
            <p>Product Manager @ Vista</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
