<div id="home-pricing">
  <div class="section-container">
    <p class="section-header">Pricing</p>
    <p class="section-text">See what package works best for you</p>
    <div class="prices-container">
      <div class="col-md-4 price-container">
        <div class="price">
          <div class="price-header">
            <small class="currency">£</small><strong>75</strong><small class="frequency">/mo</small>
          </div>
          <div class="price-banner">
            <p class="banner-title">Startup</p>
            <p class="banner-text">Get started Now! You have the base</p>
          </div>
          <div class="price-features">
            <ul>
              <li><strong>10GB</strong> Disk Space</li>
              <li><strong>Free</strong> DDoS Protection</li>
              <li><strong>Free</strong> Daily Backups</li>
              <li>Managed Hosting</li>
            </ul>
          </div>
          <div class="purchase-container">
            <button type="button" class="price-button">Purchase</button>
          </div>
        </div>
      </div>
      <div class="col-md-4 price-container">
        <div class="price">
          <div class="price-header">
            <small class="currency">£</small><strong>95</strong><small class="frequency">/mo</small>
          </div>
          <div class="price-banner">
            <p class="banner-title">Growth</p>
            <p class="banner-text">Take your business to the next level</p>
          </div>
          <div class="price-features">
            <ul>
              <li><strong>10GB</strong> Disk Space</li>
              <li><strong>Free</strong> DDoS Protection</li>
              <li><strong>Free</strong> Daily Backups</li>
              <li>Managed Hosting</li>
              <li>Managed Hosting</li>
            </ul>
          </div>
          <div class="purchase-container">
            <button type="button" class="price-button">Purchase</button>
          </div>
        </div>
      </div>
      <div class="col-md-4 price-container">
        <div class="price">
          <div class="price-header">
            <small class="currency">£</small><strong>125</strong><small class="frequency">/mo</small>
          </div>
          <div class="price-banner">
            <p class="banner-title">Premium</p>
            <p class="banner-text">Get started Now! You have the base</p>
          </div>
          <div class="price-features">
            <ul>
              <li><strong>10GB</strong> Disk Space</li>
              <li><strong>Free</strong> DDoS Protection</li>
              <li><strong>Free</strong> Daily Backups</li>
              <li>Managed Hosting</li>
              <li>Managed Hosting</li>
              <li>Managed Hosting</li>
            </ul>
          </div>
          <div class="purchase-container">
            <button type="button" class="price-button">Purchase</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
